{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Blog single</title>
{% endblock title %}
{% block active %}
<ul>
  <li><a href="{% url 'index' %}">Home</a></li>

  <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
    <ul>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'team' %}">Team</a></li>
    </ul>
  </li>

  <li><a href="{% url 'services' %}">Services</a></li>
  <li><a href="{% url 'post' %}">Post</a></li>
  <li><a href="{% url 'blog' %}">Blog</a></li>
  <li><a href="{% url 'contact' %}">Contact</a></li>
  <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
    <ul>
      {% if user.is_authenticated %}
        <li><a href="{% url 'com_profile' user.username %}">Your Profile</a></li>
        <li><a href="{% url 'worker_register' %}">Register for worker</a></li>
        <li><a href="{% url 'user_logout' %}">Log out</a></li>
      {% else %}
        <li><a href="{% url 'company_register' %}">Registration</a></li>
        <li><a href="{% url 'com_login' %}">Log in</a></li>
      {% endif %}
    </ul>
  </li>
  

</ul>
{% endblock active %}
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Blog Single</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li>Blog Single</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">
           
              <article class="entry entry-single">

                <div class="entry-img">
                  <img src="{{blog.image.url}}" alt="" class="img-fluid">
                </div>

                <h2 class="entry-title">
                  <a href="{% url 'blogsingle' blog.id %}">{{blog.title}}</a>
                </h2>

                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{% url 'blogsingle' blog.id%}">{{blog.author}}</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{% url 'blogsingle' blog.id%}"><time datetime="2020-01-01">{{blog.date}}</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="{% url 'blogsingle' blog.id%}">{{blog.get_comment_count}} Comments</a></li>
                  </ul>
                </div>

                <div class="entry-content">
                  <p>
                    {{blog.text}}  
                  </p>

                </div>

                <div class="entry-footer">
                  <i class="bi bi-folder"></i>
                  <ul class="cats">
                    <li><a href="{% url 'com_profile' user.username %}">{{blog.author}}</a></li>
                  </ul>

                  <i class="bi bi-tags"></i>
                  <ul class="tags">
                    <li><a href="../?categories={{blog.category.id}}">{{blog.category}}</a></li>
                  </ul>
                </div>

              </article><!-- End blog entry -->
              
            {% comment %} <div class="blog-author d-flex align-items-center">
              <img src="assets/img/blog/blog-author.jpg" class="rounded-circle float-left" alt="">
              <div>
                <h4>Jane Smith</h4>
                <div class="social-links">
                  <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                  <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                  <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                </div>
                <p>
                  Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                </p>
              </div>
            </div><!-- End blog author bio --> {% endcomment %}

            <div class="blog-comments">

              <h4 class="comments-count">{{blog.get_comment_count}} Comments</h4>
              {% for el in comment %}
                {% if not el.parent_id %}
                  <div id="comment-2" class="comment">
                    <div class="d-flex">
                      <div class="comment-img"><img src="{{el.author.avatar.url}}" alt=""></div>
                      <div>
                        <h5><a href="{% url 'com_profile' user.username %}">{{el.author}}</a></h5>
                        <time datetime="2020-01-01">{{el.time}}</time>
                        <p>
                          {{el.message}}
                        </p>
                      </div>
                    </div>

                    {% for replay in el.replies.all %}
                      <div id="comment-reply-1" class="comment comment-reply">
                        <div class="d-flex">
                          <div class="comment-img"><img src="{{replay.author.avatar.url}}" alt=""></div>
                          <div>
                            <h5><a href="{% url 'com_profile' user.username %}">{{replay.author}}</a></h5>
                            <time datetime="2020-01-01">{{replay.time}}</time>
                            <p>
                              {{replay.message}}
                            </p>
                          </div>
                        </div>

                        {% comment %} <div id="comment-reply-2" class="comment comment-reply">
                          <div class="d-flex">
                            <div class="comment-img"><img src="assets/img/blog/comments-4.jpg" alt=""></div>
                            <div>
                              <h5><a href="">Sianna Ramsay</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                              <time datetime="2020-01-01">01 Jan, 2020</time>
                              <p>
                                Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia dolores cupiditate et. Ut unde qui eligendi sapiente omnis ullam. Placeat porro est commodi est officiis voluptas repellat quisquam possimus. Perferendis id consectetur necessitatibus.
                              </p>
                            </div>
                          </div>

                        </div><!-- End comment reply #2-->{% endcomment %}

                      </div><!-- End comment reply #1--> 
                    {% endfor %}
                    <form action="" method="post">{% csrf_token %}
                      <textarea name="message" class="form-control" placeholder="Your Comment*"></textarea>
                      <input type="hidden" name="parent_id" value="{{el.id}}" >
                      <input class="bi bi-reply-fill" type="submit" value="Replay">
                    </form>

                  </div><!-- End comment #2-->
                {% endif %}
              {% endfor %}


              <div class="reply-form">
                <h4>Leave a Reply</h4>
                <form action=""  method="POST">{% csrf_token %}
                  <div class="row">
                    <div class="col form-group">
                      <textarea name="message" class="form-control" placeholder="Your Comment*"></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Post Comment</button>

                </form>

              </div>

            </div><!-- End blog comments -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input name='search' type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Categories</h3>
              <div class="sidebar-item categories">
                <ul>
                  {% for cat in categories %}
                    <li><a href="../?categories={{cat.id}}">{{cat}} <span>({{cat.get_count}})</span></a></li>
                  {% endfor %}
                </ul>
              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                {% for el in posts %}
                  <div class="post-item clearfix">
                    <img style="height: 70px;width: 70px;" src="{{el.image.url}}" alt="">
                    <h4><a href="{% url 'postdateils' el.title %}">{{el.title}}</a></h4>
                    <time datetime="2020-01-01">{{el.date}}</time>
                  </div>
                {% endfor %}
              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul id="portfolio-flters">
                  <a href="{% url 'post' %}" class="filter-active" style="margin-right:10px">All</a>
                  {% for el in tags %}
                    <a href="../post/?tagid={{el.id}}" style="margin-right:10px">{{el.tag}}</a>
                  {% endfor %}
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->
  {% endblock content %}